.counter {
  &Container {
    padding: 30px;
    background-color: black;
    color: white;
  }
  &Name {
    border: solid 1px white;
    background-color: #440000;
  }

  &Value {
    border: solid 1px white;
    background-color: #004400;
  }
}

.nameRequired {
  font-weight: 500;
  color: red;
}